In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

In [ ]:
df = pd.read_csv('ab_stats.csv')

In [ ]:
df.head()

   revenue  num_purchases  purchase ab_group  av_site visit
0      0.0              0     False        A       9.040174
1      0.0              0     False        A       4.811628
2      0.0              0     False        A       7.342623
3      0.0              0     False        A       7.744581
4      0.0              0     False        A      10.511814

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23652 entries, 0 to 23651
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   revenue        23652 non-null  uint32
 1   num_purchases  23652 non-null  uint8
 2   purchase       23652 non-null  bool
 3   ab_group       23652 non-null  object
 4   av_site visit  23652 non-null  float64
dtypes: bool(1), float64(1), object(1), uint32(1), uint8(1)
memory usage: 508.3+ KB

In [ ]:
df.describe()

            revenue  num_purchases  av_site_visit
count  23652.000000   23652.000000   23652.000000
mean       0.311052       0.043590       7.013112
std        9.536124       1.079403       3.154584
min        0.000000       0.000000     -12.073486
25%        0.000000       0.000000       5.173787
50%        0.000000       0.000000       7.007936
75%        0.000000       0.000000       8.864119
max     1303.000000     152.000000      22.446822

In [ ]:
df = df.astype({'revenue': np.uint32})

In [ ]:
df = df.rename(columns={'av_site visit': 'av_site_visit'})

In [ ]:
df.query('av_site_visit < 0').count()[0]/df.count()[0] # процент лажовых данных

0.0197869101978691

In [ ]:
df_new = df.query('av_site_visit >= 0')

In [ ]:
df_new.describe()

            revenue  num_purchases  av_site_visit
count  23184.000000   23184.000000   23184.000000
mean       0.312845       0.043780       7.188254
std        9.624248       1.089462       2.924011
min        0.000000       0.000000       0.008679
25%        0.000000       0.000000       5.314379
50%        0.000000       0.000000       7.068656
75%        0.000000       0.000000       8.910900
max     1303.000000     152.000000      22.446822

In [ ]:
df_new.ab_group.value_counts()

A    11829
B    11355
Name: ab_group, dtype: int64

In [ ]:
df_new.query('ab_group == "A"').describe()

            revenue  num_purchases  av_site_visit
count  11829.000000   11829.000000   11829.000000
mean       0.390650       0.050723       6.980379
std       13.118331       1.467883       2.004450
min        0.000000       0.000000       0.145466
25%        0.000000       0.000000       5.657590
50%        0.000000       0.000000       6.984166
75%        0.000000       0.000000       8.346243
max     1303.000000     152.000000      17.728836

In [ ]:
df_new.query('ab_group == "A"').num_purchases.sum()

4621

In [ ]:
df_new.query('ab_group == "B"').describe()

            revenue  num_purchases  av_site_visit
count  11355.000000   11355.000000   11355.000000
mean       0.231792       0.036548       7.404806
std        3.136801       0.422820       3.630412
min        0.000000       0.000000       0.008679
25%        0.000000       0.000000       4.746728
50%        0.000000       0.000000       7.262590
75%        0.000000       0.000000       9.889165
max      113.000000      25.000000      22.446822

In [ ]:
df_new.purchase.value_counts()

False    22704
True       480
Name: purchase, dtype: int64

In [ ]:
mw_stats = stats.mannwhitneyu(x=df[(df['ab_group'] == 'A')]['revenue'].values,
                                                  y=df[(df['ab_group'] == 'B')]['revenue'].values)
mw_stats

MannwhitneyuResult(statistic=70014312.0, pvalue=0.4906298763977426)